Package: ShufflePictures
Version: 1.0-1
Provides: ShufflePictures
Maintainer: Igor Martinov <gosha56good@gmail.com>
Architecture: all
Section: devel
Description: Shuffle Pictures
Build-Depends: g++, make, qt5-qmake
Priority: optional
